// FONT
$default-font-size: 1.6rem;

$color-white: #fff;
$color-black: #000;
$color-primary: #55c57a;
$color-primary-light: rgb(71, 30, 30);
$color-primary-dark: #c7bdba;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;