.header{
    height: 87vh;
    width: 100%;
    position: relative;
    margin:0 auto;
    @include respond(900px){
        height: 70vh;
    }
    &-wrapper{
        height: 90vh;
        @include respond(900px){
            height: 70vh;
        }
        @include respond(big-mac-desktop){
            height: 100vh;
        }

        overflow: hidden;
    }
    //content setting
    &-position{
        width: 100%;
        height: 50%;
        @include absolute-center;
        padding:0 5rem;
        transition: top;
        @include respond(tab-land){
            top:40%;
        }
        @include respond(big-mac-desktop){
            left: 75%;
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }

    &__content--left{
        width: 50%;
        padding-top: 3rem;
        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }
        @include respond(680px){
            & main-content{
                display: none;
            }
        }   
    }
    &__content--right{
        width: 45%;
        position: relative;
        @include respond(tab-port){
            display: none;
        }
        &__phone{
            max-width: 100%;
            width:40rem;
            position: absolute;
            transform: scale(1.6);
            @include respond(big-mac-desktop){
                left: -15rem;
            }
            
        }
    }


    //background setting
    &__background{
        z-index: -100;
    }
    &__background--gray{
        z-index: -200;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 2rem;
    }
    &__background--black{
        z-index: -200;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
    &__background--blue{
        z-index: -200;
        position: absolute;
        top: 0;
        right:0;
        width: 50%;
        height: 100%;
        @include respond(big-mac-desktop){
            display: none;
        }
    }
    
    &__background--blue-big{
        opacity: 0;
        z-index: -200;
        position: absolute;
        width: 260rem;
        top: -83rem;
        right: -80rem;
        @include respond(big-mac-desktop){
            opacity: 1;
        }
    }
}   